<launch>
    <node name="semantic_grid" pkg="heuristic_planners" type="grid3d_class.py" output="screen">
    <!-- <node name="semantic_grid" pkg="heuristic_planners" type="grid3d_class_viernes.py" output="screen"> -->
        <!-- <param name="world_size_x" value="212" />
        <param name="world_size_y" value="169" />
        <param name="world_size_z" value="9" /> -->
        <param name="world_size_x" value="211.8" />
        <param name="world_size_y" value="169.2" />
        <param name="world_size_z" value="9.2" />
        <param name="resolution" value="0.2" />
    </node>
</launch>